.container {
  height: 100%;
  padding: 1rem;
  background-color: #fafafa;

  .add-new-user-form {
    display: grid;
    padding: 1rem;
    background-color: white;

    .fullname {
      width: 100%;
      gap: 1rem;

      :nth-child(n) {
        display: block;
        flex-basis: 100%;
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;

    .cancel-btn {
      color: #787878;
      background-color: #dadada;
    }
  }
}

@media (min-width: 450px) {
  .container {
    .add-new-user-form {
      .fullname {
        display: flex;
      }
    }
  }
}
